*{
	margin: 0px;
	padding: 0px;
}
a{
	text-decoration: none;
}
body{
	text-align: center;
	width: 1280px;
	margin: auto;
}
ul{
	list-style-type: none;
}
/*头部*/
#toubu{
	background-color: #FFF;
	box-sizing: border-box;
	padding: 0px 75px 0px 0px;
	width: 100%;
	height: 40px;
	box-shadow: 0px 2px 5px #999;
	background-color:#fff;
}
#toubu_1 {
	font-size: 12px;
	text-align: center;
	height: 40px;
	line-height: 40px;
	color: #999;
	float: left;
}
#toubu_1 a{
	display: inline-block;
	float: left;
	margin-left:25px;
	color: #999;
}
#toubu_1 p{
	margin-left: 45px;
	float: left;
}
#toubu a:hover{
	color: #FF0036;
}
#toubu_2 li{
	height: 40px;
	line-height: 40px;
	padding: 0px 15px;
	float: right;
	position: relative; /*相对定位*/
}
#toubu_2 li a{
	color: #999;
	font-size: 12px;
}
/*网页头部  网站导航*/
#toubu21 div{
	z-index: 10;
	box-sizing: border-box;
	width: 1150px;
	height: 150px;
    background-color: rgba(0,0,0,0.5);
	position: absolute;
	top: 40px;
	right:-20px;
    padding: 10px 0px;
    display: none;
}
#toubu21 div p{
	height: 50px;
	float: left;
	font-size: 19px;
	line-height: 50px;
}
#toubu21 div p:nth-of-type(2){
	margin: 0px 330px;
	color:rgb(36,184,255);
}
#toubu21 div p:first-of-type{
	color:rgb(255,154,53);
	margin-left: 43px;
}
#toubu21 div p:last-of-type{
	color:#090909;
}
#toubu21 div ul a{
	color: #FFF;
}
#toubu21 div ul a:hover{
	color:rgb(255,70,70);
	text-decoration: underline;
}
#toubu21 div li{
	margin: 0px 15px;
	padding: 0px 13px;
}
#toubu21 div li:first-of-type{
	margin-right: 39px;
}
#toubu21:hover{
	background-color: #DC143C;
	/*background:-webkit-linear-gradient(top,#DC143C,#DC143C,#DC143C,#888);*/
}
#toubu21:hover #toubu_a1{
	font-weight: bold;
	color: #FFF;
	
}
#toubu21:hover div{
	animation: top 1s ;
	display: inline-block;
}
/*网页头部  商家支持*/
#toubu22 div{
	z-index: 10;
	width: 150px;
	height: 250px;
    background-color: #FFF;
    position: absolute;
    top: 40px;
    right: 0px;
    padding: 10px;
    box-sizing: border-box;
    display: none; /*隐藏*/
}
#toubu22 div p{
	font-size: 13px;
	height: 20px;
	line-height: 20px;
}
#toubu22 div a{
	display: inline-block;
	line-height: 10px;
	width: 60px;
	color: #888;
}
#toubu22 a:hover{
	color:rgb(255,70,70);
	text-decoration: underline;
}
#toubu22:hover  div{
	display:block;
}
#toubu23:hover a{
	color:rgb(248,194,15);
}
#toubu24{
	background: url(../img/b/s_tel.png) 0px 13px no-repeat;
}
#toubu24 div{
	z-index: 10;
	width: 165px;
	height: 200px;
	background: #FFF url(../img/a/TB1MDxDRpXXXXXUXFXXXXXXXXXX-175-215.png)no-repeat;
	background-size: cover;
	position: absolute; /*设置绝对定位*/
	top: 25px;
	right: -55px;
	display: none;
}
#toubu24:hover div{
	display: block;
}
#toubu24:hover a{
	color:rgb(248,194,15);
}
#toubu25  div a{
	color: #888;
}
#toubu25 a:hover{
	text-decoration: underline;
	color:rgb(255,70,70);
}
#toubu25 div{
	z-index: 10;
	box-sizing: border-box;
	height: 95px;
	width: 85px;
	background-color: #fff;
	position: absolute;
	top: 40px;
	left:0px;
	padding: 10px;
	display: none;
}
#toubu25:hover div{
	display: block;
}

#toubu26:hover a{
	color:rgb(248,194,15);
}
#toubu26:hover a span{
	color:#F00;
}
#toubu27 div {
	z-index: 10;
	width: 100px;
	height: 100px;
	background-color: #FFF;
	position: absolute;
	top: 40px;
	left: 0px;
	padding: 10px;
	box-sizing: border-box;
	display: none;
}
#toubu27 div a{
	color: #888;
}
#toubu27:hover div{
	display: block;
}
/*搜索栏目*/
#zhuti_1{
	width: 100%;
	height: 95px;
	position: relative;
	box-sizing: border-box;
}
#zhuti_1  #zhuti_11{
	height: 40px;
	width: 625px;
	border: 3px solid rgb(196,0,0);
	position: absolute;
	top: 10px;
	left: 605px;
}
#zhuti_1 #zhuti_11 a{
	display: inline-block;
	height: 40px;
	width: 23%;
	float: right;
	line-height: 40px;
	color: #FFF;
	background-color: rgb(196,0,0);
}
#zhuti_1 #zhuti_11 input{
	border: 0px; /*去除默认边框*/
	outline:none; /*去掉默认聚焦时的阴影*/
	height: 100%;
	width: 75%;
	font-size: 22px;
	color: #333;
}
#zhuti_1 #zhuti_11 input::-webkit-input-placeholder{/*搜索框字体的设置*/
	font-weight: 300px;
	font-size: 15px;
	text-indent: 1em;
}
#zhuti_12{
	height: 40px;
	line-height: 40px;
	position:absolute;
	top: 60px;
	right: 50px;
	color: #999;
}
#zhuti_12 a{
	display: inline-block;
	height: 100%;
	width: 70px;
	font-size: 15px;
	color: #999;
}
#zhuti_12 a:hover{
	color: #F00;
	text-decoration: underline;
    font-weight: bold;
}
#zhuti_12 .zhuti_121{
	color:rgb(200,0,0);
}
#zhuti_13{  /*搜索栏目左边的LOGO*/
	position: absolute;
	top: 5px;
	left: 0px;
}
#zhuti_13 img{
	margin-left: 11px;
}
#zhuti_1>span{
	display: inline-block;
	position: absolute;
	top: 35px;
	left: 271px;
	font-size: 25px;
}
/*--------------------------------------------------------------------------*/
#gwc1{
	width: 100%;
	height: 80px;
	box-sizing: border-box;
}
#gwc1 h3{
	float: left;
	height: 100%;
	width: 150px;
	line-height: 80px;
	border-bottom: 2px solid #FFF;
}
#gwc11{
	color: #F00;
	cursor: pointer;
}
#gwc1 h3:hover{
	border-bottom-color: #f00;
}
#gwc1 p{
	float: right;
	height: 80px;
	line-height: 80px;
	font-size: 14px;
	margin-right: 80px;
	margin-top: 15PX;
}
#gwc1 i{
	color: #F00;
	font-style: initial;
}
#gwc1 a{
	display: inline-block;
	height: 40px;
	width: 80px;
	color: #FFF;
	line-height: 40px;
	background-color: #999;
	border-radius: 10px;
	font-size: 18px;
	border: 1px solid #999;
	font-weight: bold;
}
#gwc1 a:hover{
	background-color: rgb(195,0,0);
	border-color: rgb(195,0,0);
}
/*-----------------------------------------------------------------------------*/
#gwc2{
	width: 100%;
	height: 90px;
	padding-top: 15px;
	box-sizing: border-box;
	position: relative;
}
#gwc2 li{
	float: right;
	width: 70px;
	margin-right: 100px;
	font-size: 14px;
}
#gwc2>div{
	float: left;
	height: 50px;
	width: 250px;
	box-sizing: border-box;
	text-align: left;
	padding-left: 30px;
}
#gwc2>div p{
	float: right;
}
#gwc2>span{
	position: absolute;
	bottom: 0px;
	left: 30px;
	display: inline-block;
	width: 300px;
	height: 50px;
	text-align: left;
	box-sizing: border-box;
	line-height: 50px;
	background:url(../img/xrz/T11lggFoXcXXc1v.nr-93-93.png) 210px 16px no-repeat;
	background-size: 6%;
	animation: gwc 0.8s linear infinite;
}
@keyframes gwc{
	from{background:url(../img/xrz/T11lggFoXcXXc1v.nr-93-93.png) 210px 16px no-repeat;background-size: 6%;}
	to{background:url(../img/xrz/T11lggFoXcXXc1v.nr-93-93.png) 210px 12px no-repeat;background-size: 6%;}
}
#gwc2>span input{
	margin-right: 15px;
}
#gwc2>span a{
	color: #555;	
}
#gwc2>span img{
	position: relative;
	top: 7px;
}
#gwc2>span a:hover{
	color: #F00;
	text-decoration: underline;
}
/*********************************************************************************/
#gwc3{
	width: 100%;
	height: 150px;
	box-sizing: border-box;
	border: 1px solid #AAA;
	padding: 20px 35px;
	position: relative;
}
#gwc3 li{
	float: left;
}
#gwc3 li:nth-of-type(1){
	height: 50px;
	width: 20px;
    margin-right: 20px;
}
#gwc3 li:nth-of-type(2){
	height: 100%;
	width: 300px;
	position: relative;
}
#gwc3 li:nth-of-type(2) img{
	cursor: pointer;
	float: left;
}
#gwc3 li:nth-of-type(2) div:hover>div{
	display: inline-block;
}
#gwc3 li:nth-of-type(2) div>div{
	height: 260px;
	width: 260px;
	background-color: #F00;
	position: absolute;
	top: -22px;
	left: 160px;
	border: 10px solid #FFF;
	background: url(../img/gouwuche/TB2yiKChmtYBeNjSspaXXaOOFXa-263817957.jpg_240x240.jpg)no-repeat;
	background-size: cover;
	box-shadow: 0px 0px 5px #000;
	display: none;
	z-index: 1;
}
#gwc3 li:nth-of-type(2) a{
   font-size: 12px;
   color: #555;
}
#gwc3 li:nth-of-type(2) a:hover{
	color: #F00;
	text-decoration: underline;
}
#gwc3 li:nth-of-type(2) p{
	position: absolute;
	bottom: 0px;
	right: 100px;
}
#gwc3 li:nth-of-type(2) p>img{
	margin-right: 10px;
	z-index: -1;
}
#gwc3 li:nth-of-type(3){
	height: 100%;
	width: 120px;
	margin-left: 50px;
	color: #999;
	font-size: 14px;
}
#gwc3 li:nth-of-type(4){
	margin-left: 50px;
	margin-right: 110px;
}
#gwc3 li:nth-of-type(4) span{
	color: #999;
	text-decoration: line-through;
}
#gwc3 li:nth-of-type(5) input{
	height: 30px;
	width: 50px;
	text-indent: 1em;
} 
#gwc3 li:nth-of-type(6){
	color: #F00;
	font-size: 18px;
	font-weight: bold;
  margin-left: 110px;
  padding-top: 10px;
} 
#gwc3 li:nth-of-type(7){
	font-size: 15px;
	margin-left: 100px;
	height: 100%;
	width: 75px;

}
#gwc3 li:nth-of-type(7) a{
	display: block;
	color: #555;
}
#gwc3 li:nth-of-type(7) a:hover{
	color: #F00;
	text-decoration: underline;
}
/*********************************************************************************/
#gwc4{
	width: 100%;
	height: 80px;
	padding-left: 15px;
}
#gwc4>ul>li{
	font-size: 14px;
	height: 100%;
	width: 100px;
	float: left;
	line-height: 80px;
	cursor: pointer;
}
#gwc4>ul>li:hover{
	color: #F00;
	text-decoration: underline;
}
#gwc4>div{
	float: right;
	margin-right: 40px;
}
#gwc4>div a{
	color: #FFF;
	font-size: 25px;
	font-weight: bold;
	display: inline-block;
	height: 60px;
	width: 150px;
	background-color: rgb(195,0,0);
	float: right;
	line-height: 60px;
	margin-top: 10px;
}
#gwc4>div a:hover{
	background-color: #F00;
}
#gwc4>div p{
	float: right;
}
#gwc4>div p:nth-of-type(1){
	color: #F00;
	font-size: 25px;
	font-weight: bold;
	height: 80px;
	line-height: 80px;
	margin-right: 50px;
}
#gwc4>div p:nth-of-type(2),p:nth-of-type(3){
	height: 80px;
	line-height: 80px;
	font-size: 14px;
	margin-right: 35px;
	color: #555;
}
#gwc4>div span{
	color: #F00;
	font-size: 30px;
	font-weight: bold;
}
#gwc5{
	width: 100%;
	height: 100px;
}
/*---------------------------------------------------------------------------------*/
#gwc6{
	height: 450px;
	width: 100%;
	padding-left: 20px;
	position: relative;
}
#gwc6 p{
	cursor: pointer;
	height: 50px;
	width: 120px;
	float: left;
	font-size: 18px;
	font-weight: bold;
	line-height: 50px;
	color: #555;
	border-bottom: 2px solid #fff;
}
#gwc6 p:hover{
	color:rgb(195,0,0);
	border-bottom: 2px solid rgb(195,0,0);;
}
#gwc6 img{
	margin-left: -100px;
	cursor: pointer;
}
#gwc6 p:nth-of-type(2) img{
	position: absolute;
	top: 53px;
	left: 212px;
	display: none;
}
#gwc6 p:nth-of-type(2):hover img{
	display: inline-block;
}
#gwc6 p:nth-of-type(3) img{
	position: absolute;
	top: 53px;
	left: 212px;
	display: none;
}
#gwc6 p:nth-of-type(3):hover img{
	display: inline-block;
}
/*--------------------------------------------------------------------------尾部*/
#weibu0{
	width: 100%;
	height: 355px;
	border-top: 2px solid #bbb;
	
	position: relative;
}
#weibu0 a{
	display: inline-block;
	width: 100%;
	height: 100px;
	background:url(../img/a/TB1I8svRXXXXXcUXpXXXXXXXXXX-990-100.jpg) 119px 3px no-repeat;
	background-size: contain;
	border-bottom: 1px solid #DDD;
}
#weibu1{
	width: 100%;
	height: 200px;
	border-top: 1.5px solid #F00;
}
#weibu0 ul{
	cursor: pointer;
	float: left;
	margin: 0px 70px;
	text-align:initial;
}
#weibu0 img{
	position: absolute;
	top: 339px;
	left: 157px;
}
#weibu0 ul:first-of-type{
	margin-left: 160px;
}
#weibu0 li{
	cursor: pointer;
	font-size: 14px;
	color: #888;
	margin-bottom: 8px;
}
#weibu0 li:hover{
	text-decoration: underline;
	color: #000;
	font-size: 15px;
}
#weibu0 li:first-of-type{
	margin-top: 30px;
	font-size: 18px;
	font-weight: bold;
	color:#333;
}
#weibu0 p{
	width: 280px;
	height:200px;
	background:url(../img/b/TB1GPVXRpXXXXXsapXXXXXXXXXX-175-175.jpg)0px 35px no-repeat;
	position: absolute;
	bottom: 19px;
	right: 0px;
	font-size: 18px;
	text-align: initial;
	font-weight: bold;
	color: #333;
}
#weibu1{
	padding-left: 70px;
	position: relative;
	background:url(../img/e/TB1_qAKKVXXXXXjapXXXXXXXXXX-20-20.png)958px 98px no-repeat;
    background-color: #000;
}
#weibu1 img{
	margin-right: 10px;
	position: absolute;
	bottom: 8px;
	cursor: pointer;
}
#weibu1 img:nth-of-type(1){
	left: 70px;
}
#weibu1 img:nth-of-type(2){
	left: 150px;
}
.weibu1p{
	cursor: pointer;
	color:#FFF;
	text-align: initial;
	font-size: 12px;
	margin: 15px 0px;
}
.weibu2p{
	color: #888;
	text-align: initial;
	font-size: 13px;
	float: left;
	margin-right: 50px;
	margin-bottom: 5px;
}
.weibu3p{
	color: #444;
	font-size: 13px;
	position: absolute;
	bottom: 42px;
	left: 67px;
}
/*右导航*/
@keyframes top{ /*导航栏的动画*/
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
#daohang{
	height: 650px;
	width: 40px;
	position: fixed;
	right: 0px;
	top: 0px;
	background-color: #000;
}
#daohang a{
	display: inline-block;
	width: 40px;
	color: #FFF;
	font-weight: bold;
	background-color: #000;
}
#daohang a:hover{ /*右边导航栏移过去的颜色*/
	background-color: rgb(200,0,0);
}
#daohang_top{
	position: relative;
	top: 610px;
	line-height: 40px;
	height: 40px;
}
#daohang_top p{ /*置顶设置*/
	letter-spacing:6px; /*字符间距*/
	display: inline-block;
	display: none;
	height: 40px;
	width: 100px;
	background-color: rgba(3,3,3,0.6);
	position: absolute;
	top: 0px;
	right: 40px;
	color:#FFF;
	font-size: 12px;
	border-radius: 0px 5px 5px 0px;
}
#daohang_top:hover p{
	display:inline-block;
	animation: top 0.5s;
}
#daohang_ewm{
	line-height: 40px;
	height: 40px;
	background: url(../img/b/timg.jpg) no-repeat;
	background-size: cover;
	padding: 10px;
	box-sizing: border-box;
	position: absolute;
	top: 560px;
	left: 0px;
}
#daohang_ewm div{
	padding-top: 15px;
	width: 150px;
	height: 200px;
	position: absolute;
	top: -120px;
	left: -150px;
	background:rgb(200,0,0) url(../img/b/TB1GPVXRpXXXXXsapXXXXXXXXXX-175-175.jpg) 38px 105px no-repeat;
	background-size: 50%;
	display: none;
	
}
#daohang_ewm div p{
	line-height: 35px;
	font-weight: bold;
}
#daohang_ewm div p span{
	color: rgb(252,218,58);
}
#daohang_ewm:hover div{
	display: block;
	animation: top 0.5s;
}
#chonzhi{  /*充值*/
  position: absolute;
  top:340px ;	
  left: 0px;
  line-height: 40px;
	height: 40px;
}
#chonzhi p{
	letter-spacing:6px; /*字符间距*/
	display: inline-block;
	display: none;
	height: 40px;
	width: 100px;
	background-color: rgba(3,3,3,0.6);
	position: absolute;
	top: 0px;
	right: 40px;
	color:#FFF;
	font-size: 12px;
	border-radius: 0px 5px 5px 0px;
}
#chonzhi:hover p{
	display:inline-block;
	animation: top 0.5s;
}
#zican{  /*资产*/
  position: absolute;
  top:300px ;	
  left: 0px;
  font-size: 22px;
  padding: 0px;
  line-height: 40px;
	height: 40px;
	border-top: 1px solid #888;
}
#zican p{
	letter-spacing:6px; /*字符间距*/
	display: none;
	height: 40px;
	width: 100px;
	background-color: rgba(3,3,3,0.6);
	position: absolute;
	top: 0px;
	right: 40px;
	color:#FFF;
	font-size: 12px;
	border-radius: 0px 5px 5px 0px;
}
#zican:hover p{
	display:inline-block;
	animation: top 0.5s;
}
#vip{
	position: relative;
	top: 100px;
	height: 40px;
	box-sizing: border-box;
	border-bottom: 1px solid #888;
}
#vip img{
	padding-top: 7px;
}
#vip p{
	letter-spacing:6px; /*字符间距*/
	width: 100px;
	height: 40px;
	line-height: 40px;
	position: absolute;
	top: 0px;
	right:40px;
	background-color:rgba(3,3,3,0.6);
	display: none;
	border-radius: 0px 5px 5px 0px;
	font-size: 10px;
}
#vip:hover p{
	display: block;
	animation: top 0.5s;
}
#gouwuche{
	position: relative;
	top: 135px;
	height: 80px;
	line-height: 25px;
	font-size: 10px;
	box-sizing: border-box;
}
#daohang #logo{
	height: 25px;
	width: 25px;
	background: url(../img/b/cars.png) 0px 0px no-repeat;
	position: absolute;
	top: 187px;
	left: 11px;

}
#zhuti_32 div{
	height: 210px;
	width: 250px;
}
@keyframes guangao{ /*给广告设置的动画*/
	0%{
		background-color: rgba(200,200,200,0.3);
	}
	100%{
		background-color: #FFF;
	}
}
@keyframes guanggao1{
	0%{background:  rgba(200,200,200,0.7) url(../img/you/2.png) no-repeat;background-size: cover;}
	10%{background:  rgba(200,200,200,0.7) url(../img/you/2.png) no-repeat;background-size: cover;}
	20%{
		background:  rgba(200,200,200,0.7) url(../img/you/2.png) no-repeat;
	background-size: cover;
	}
	30%{background:  rgba(200,200,200,0.7) url(../img/you/1.png) no-repeat;background-size: cover;}
	40%{background:  rgba(200,200,200,0.7) url(../img/you/1.png) no-repeat;background-size: cover;}
	50%{
		background:  rgba(200,200,200,0.7) url(../img/you/1.png) no-repeat;
	background-size: cover;
	}
	60%{background:  rgba(200,200,200,0.7) url(../img/you/4.png) no-repeat;background-size: cover;}
	70%{
		background:  rgba(200,200,200,0.7) url(../img/you/4.png) no-repeat;
	background-size: cover;
	}
	80%{background:  rgba(200,200,200,0.7) url(../img/you/4.png) no-repeat;background-size: cover;}
	90%{background:  rgba(200,200,200,0.7) url(../img/you/4.png) no-repeat;background-size: cover;}
	100%{
		background:  rgba(200,200,200,0.7) url(../img/you/2.png) no-repeat;
	background-size: cover;
	}
}
#zhuti_32 div:first-of-type{
	position: absolute;
	top: 10px;
	right: 65px;
	cursor: pointer;
	background:  rgba(200,200,200,0.7) url(../img/you/2.png) no-repeat;
	background-size: cover;
	animation: guanggao1 30s linear infinite both;	
}
#zhuti_32 div:first-of-type:hover{
	animation: guangao 0.8s both;
}
@keyframes guanggao2{
	0%{background:  rgba(200,200,200,0.7) url(../img/you/4.png) no-repeat;background-size: cover;}
	10%{background:  rgba(200,200,200,0.7) url(../img/you/4.png) no-repeat;background-size: cover;}
	20%{
		background:  rgba(200,200,200,0.7) url(../img/you/4.png) no-repeat;
	background-size: cover;
	}
	30%{background:  rgba(200,200,200,0.7) url(../img/you/2.png) no-repeat;background-size: cover;}
	40%{background:  rgba(200,200,200,0.7) url(../img/you/2.png) no-repeat;background-size: cover;}
	50%{
		background:  rgba(200,200,200,0.7) url(../img/you/2.png) no-repeat;
	background-size: cover;
	}
	60%{background:  rgba(200,200,200,0.7) url(../img/you/1.png) no-repeat;background-size: cover;}
	70%{
		background:  rgba(200,200,200,0.7) url(../img/you/1.png) no-repeat;
	background-size: cover;
	}
	80%{background:  rgba(200,200,200,0.7) url(../img/you/1.png) no-repeat;background-size: cover;}
	90%{background:  rgba(200,200,200,0.7) url(../img/you/1.png) no-repeat;background-size: cover;}
	100%{
		background:  rgba(200,200,200,0.7) url(../img/you/2.png) no-repeat;
	background-size: cover;
	}
}
#zhuti_32 div:last-of-type{
	position: absolute;
	top: 230px;
	right: 65px;
	cursor: pointer;
	background:  rgba(200,200,200,0.7) url(../img/you/4.png)no-repeat;
	background-size: cover;
	animation: guanggao2 30s linear infinite both;	
}
#zhuti_32 div:last-of-type:hover{
	animation: guangao 0.8s both;
}